#navbar{
    width: 100%;
    display: flex;
    background-color: #852acb;
    justify-content: space-between;
    color: rgb(220, 217, 234);
    font-size: 22px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .love{
    display: flex;
    margin-left: 50px;
    margin-right: 60px;
  }
  .love>img{
    margin: 8px 8px 0px 0px;
    margin-right: 10px;
  }
  .love>a,p{
    margin-left: 20px;
    text-decoration: none;
    margin-top: 19px;
    color: white;
  }